[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
icalendar = "*"
requests = "*"
flask-wtf = "*"
beautifulsoup4 = "*"
gunicorn = "*"
bootstrap-flask = "*"
flask-crontab = "*"

[requires]
python_version = "3.7"
